<!DOCTYPE html>
<html>
  <head>
    <title><%= name %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= name %></h1>
    <p>helloo Mtr.<%= name %></p>

<h1> hello where are u <%= name%></h1>
  </body>
</html>
